/* 引入自定义字体 */
@font-face {
    font-family: '手写-写意体'; /* 字体名称 */
    src: url('../fonts/YShiWritten-Regular.ttf'); /* 字体文件路径 */
}

/* 引入自定义字体 */
@font-face {
    font-family: '阿里巴巴普惠体-加粗'; /* 字体名称 */
    src: url('../fonts/new-font.ttf'); /* 字体文件路径 */
}

/* 将自定义字体应用到网页元素 */
body {
    font-family: '手写-写意体', sans-serif; /* 使用自定义字体，如果无法加载则使用系统默认的 sans-serif 字体 */
}

/* 为特定的元素应用字体 */
.first-level-heading {
    font-family: '阿里巴巴普惠体-加粗', sans-serif;
}